.trust_center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.trust_center_header {
	display: flex;
	justify-content: center;
}

.trust_center_body {
	width: 100%;
	max-width: 900px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
